div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40%;
}

.boyut {

    width: 300px;
}

p {
    margin-left: 11%;
}

button
{
    cursor: pointer;
}